@import url("https://fonts.googleapis.com/css2?family=Jaro:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ysabeau+SC:wght@1..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background: #000;
  
}

.rotate-animation {
  animation: rotate 10s linear infinite;
}

.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.custom-shadow {
  box-shadow: 0px 10px 6px rgba(99, 88, 250, 0.3);
}


.custom-shadow-hover:hover {
  box-shadow: 0px 10px 15px rgba(78, 73, 233, 0.779);
}


@font-face {
  font-family: 'JerseyM54';
  src: url('/src/assets/fonts/JerseyM54.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Infinite Scroll Animation */
@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 1rem));
  }
}

.scroller {
  max-width: 85vw;
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding-block: 1rem;
}
@media (max-width: 640px) {
  .scroller__inner {
    gap: 1.5rem; 
  }
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 120s;
}
.scroller[data-speed="normal"] {
  --_animation-duration: 40s;
}



/* Styling for individual items */
.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: #161515a8; /* Tailwind blue-500 */
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -2px rgb(177, 88, 250), 
              0 5px 8px rgba(145, 88, 250, 0.3); /* Initial box shadow */
  transition: all 0.3s ease-in-out; /* Smooth transition */
  
}

.tag-list li:hover {
  box-shadow: 0 10px 15px -3px rgb(88, 110, 250), 
              0 4px 6px -2px rgba(88, 199, 250, 1); /* Shadow on hover */
          
}